:root {
  --primary-color:grey;
  --secondary-color: #bdb6bc;
  --mobile-links: #006ec4;
  --mobile-headings: #1ab2a8;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --font-accent: 'Turret Road', cursive;
}

h2,
h3 {
  color: var(--primary-color);
  font-family: var(--font-accent);
}

h1 {
  font-family: var(--font-accent);
  color: var(--primary-color);
  font-size: 68px;
}

h2
 {
  font-size: 54px;
  margin-top: 50px;
}

h3 {
  font-size: 34px;
}

h4 {
  color: var(--secondary-color);
  }

#top {
  margin-top: 50px;
}
  
#contact {
  display: block;
  margin: 0 auto;
  margin-bottom: 25px;
  color: var(--primary-color);
  font-size: 34px;
  text-decoration: none;
  padding: 20px 40px;
  }

p {
  font-size: 18px;
  line-height: 1.5;
}
#navigation {
  font-family: var(--font-accent);
}

.navigation-links {
  font-family: var(--font-accent);
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  color: var(--primary-color);
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  color: black;
  border: 1px solid var(--primary-color);
}

.about-link {
  color: black;
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
  text-indent: 10px;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 18px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}
img {
  max-width: 100%;
  height: auto;
}
.primary-link {
  color: black;
  border: 1px solid var(--primary-color);
  box-shadow: var(--box-shadow);
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  font-family: var(--font-accent);
}
.primary-link:hover {
  color: var(--secondary-color);
}
.heading {
  text-align: center;
}

@media (max-width: 567px) {
  
  #desktopOnly {
    display: none;
  }

  h3 {
  color: var(--mobile-headings);
  margin-top: 70px;
  }
  .primary-link,
  .contact-link,
  .about-link {
    color: var(--mobile-links);
    border: 2px solid var(--mobile-links);
    box-shadow: var(--box-shadow);
    display: block;
    text-align: center;
  }
  #navigation {
    color: var(--mobile-links);
  }
}