:root {
  --primary-color:grey;
  --secondary-color: #bdb6bc;
  --mobile-links: #006ec4;
  --mobile-headings: #1ab2a8;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --font-accent: 'Kanit', sans-serif;
  --bg-color: #FEB149;
}

h2,
h3 {
  color: var(--primary-color);
  font-family: var(--font-accent);
}

h1 {
  color: var(--bg-color);
  font-family: var(--font-accent);
  font-size: 68px;
}

h2
 {
  font-size: 54px;
  margin-top: 50px;
}

h3 {
  font-size: 34px;
}

h4, .skill-text {
  color: var(--secondary-color);
  }

  h4 {
    font-size: 34px;
  }

h5 {
  color: white;
  font-family: var(--font-accent);
  font-size: 68px;
}

#top {
  margin-top: 50px;
  color: var(--mobile-links);
}
#work-iquiry {
  color: var(--mobile-links);
}
  
#contact {
  display: block;
  margin: 0 auto;
  margin-bottom: 25px;
  color: var(--primary-color);
  font-size: 34px;
  text-decoration: none;
  padding: 20px 40px;
  border-radius: 40px;
  }

p {
  font-size: 24px;
  line-height: 2;
}

#navigation {
  font-family: var(--font-accent);
}

.navigation-links {
  font-family: var(--font-accent);
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  color: var(--primary-color);
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

#contact-me {
  background: var(--bg-color);
  border-radius: 40px;
  padding: 30px 40px;
}

.contact-link {
  display: block;
  color: black;
  border: 1px solid var(--bg-color);
  border-radius: 40px;  
}

.about-link {
  color: black;
  border: 1px solid var(--bg-color);
  border-radius: 40px;
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
  border-radius: 40px;
}

.primary-link {
  color: var(--bg-color);
  border: 1px solid var(--bg-color);
  border-radius: 40px;;
  margin: 20px;
  padding: 30px 30px;
  text-decoration: none;
  text-transform: capitalize;
  font-family: var(--font-accent);
  font-size: 2em;
}
.primary-link:hover {
  color: black; 
  }

.about-paragraphs, p {
  display: flex;
  margin: 30px 30px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: black;
  font-size: 24px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: none;
  color: white;
}

img {
  display: flex;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  border-radius: 40px;
}

#photo {
  display:flex;
  margin: 0 auto;
  }

.heading {
  text-align: center;
}

ul#social-media {
  list-style-type: none;
  column-width: auto;
  column-count: 3;
  text-align: center;
  font-size: 34px;
  color: var(--mobile-links);
}

a {
  color: var(--mobile-links);
}

  ul#tech-skills {
    list-style-type: none;
    column-width: auto;
    column-count: 4;
    text-align: center;
    font-size: 24px;
    padding: 20px 0;
    color: var(--mobile-links);
  }
  
  .skill-text {
    color: var(--primary-color);
  }

@media (max-width: 567px) {
  

  h1,
  h2,
  h5 {
    font-size: 38px;
  }
  h2 {
    color: var(--mobile-links);
  }

  h4 {
  margin-top: 30px;
  font-size: 24px;
  }
  .primary-link,
  .contact-link,
  .about-link {
    box-shadow: var(--box-shadow);
    display: block;
    text-align: center;
  }

  .primary-link {
  background: white;
  color: black;
  font-size: 1em;
  border-radius: 40px;
  border: 1px solid var(--bg-color);
}

  #navigation {
    color: var(--mobile-headings);
  }
  .email-link {
    font-size: 18px;
  }
  .social-media {
    font-size: 18px;
  }
  #contact{
    font-size: 18px;
    color: var(--mobile-links);
  }

  ul#tech-skills {
    font-size: 18px;
  }
  .about-paragraphs, p {
    font-size: 12px;
    margin: 15px 15px;
  }

  p {
    background: var(--bg-color);
    padding: 20px 20px;
    border-radius: 10px;
  }

  #contact-me {
    padding: 0 auto;
  }
  
}